@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

pre[class*='language-'] {
  overflow-x: scroll;
  width: 100%;
  max-width: 800px;
  background-color: #1b1e28 !important;
  margin: 0 auto 16px;
  padding: 8px;
  border-radius: 4px;
}

.token.keyword {
  color: #add7ff;
}

.token.string {
  color: #5de4c7;
}

.token.punctuation {
  color: #f087bd;
}

.token.function {
  color: #89ddff;
}

.post > h1 {
  font-size: 32px;
  margin-bottom: 24px;
}

.post > p {
  margin-bottom: 16px;
}
